In [20]:
import pandas as pd
import itertools
import numpy as np
#settings
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 150)

In [22]:
# Define loan variables
principal = 425000  # loan amount
interest_rate = 0.06  # annual interest rate
years = 15  # loan term in years

# Calculate monthly interest rate and number of payments
monthly_rate = interest_rate / 12
num_payments = years * 12

# Calculate the monthly loan payment using the formula:
# payment = (principal * monthly_rate) / (1 - (1 + monthly_rate)**(-num_payments))
payment = (principal * monthly_rate) / (1 - (1 + monthly_rate)**(-num_payments))

# Print the monthly loan payment
print(f"Monthly payment: ${round(payment, 2)}")

Monthly payment: $3586.39

In [17]:
#amortized over 15 years
months = 180

In [18]:
#inputs to monthly payment formula
#loan principle
P = 425000
#periodic interest rate
rate = 0.06
payment = (rate/12) * (1/(1-(1+rate/12)**(-months)))*P

In [ ]:
payment = P*(0.06/12)

In [19]:
print('$' + str(round(payment, 2)) + ' is the monthly payment for an initial loan size $' + str(P) + ', an annual rate of ' + str(rate) + ', & ' + str(months) + ' monthly payments')

$3586.39 is the monthly payment for an initial loan size $425000, an annual rate of 0.06, & 180 monthly payments

In [5]:
offeringcostlist = [825000, 850000, 875000, 900000, 925000, 950000]

In [6]:
downpaymentlist = [400000, 375000, 350000, 325000, 300000]

In [7]:
principle = []
for offer, down in itertools.product(offeringcostlist, downpaymentlist):
    data = pd.DataFrame({'Down Payment': [down], 'Offer': [offer]})
    data['Amount'] = data['Offer'] - data['Down Payment']
    principle.append(data)
df = pd.concat(principle).reset_index(drop = True)
df_nodupe = df.drop_duplicates().reset_index(drop = True)

In [8]:
df_nodupe.Amount.unique()

array([425000, 450000, 475000, 500000, 525000, 550000, 575000, 600000,
       625000, 650000], dtype=int64)

In [9]:
principlelist = [425000, 450000, 475000, 500000, 525000, 550000, 575000, 600000, 625000, 650000]

In [10]:
ratelist = [0.06, 0.065, 0.07, 0.075]

In [30]:
df = []
for principleoption, rateoption, downpayment in itertools.product(principlelist, ratelist, downpaymentlist):
    payment = (rateoption/12) * (1/(1-(1+rateoption/12)**(-months)))*principleoption
    data = pd.DataFrame({'Down Payment': [downpayment], 'Principle': [principleoption], 'Rate': [rateoption], 'Monthly Payment': [payment]})
    data['Offer'] = data['Principle'] + data['Down Payment']
    data['Total Cost of Loan'] = data['Monthly Payment'] * months
    data['25% Total Cost of Loan'] = (data['Monthly Payment'] * months)* 0.25
    data['30% Total Cost of Loan'] = (data['Monthly Payment'] * months)* 0.3
    data['25% of Total Monthly Payment'] = data['Monthly Payment']*0.25
    data['25% of Down Payment'] = data['Down Payment']*0.25
    data['30% of Total Monthly Payment'] = data['Monthly Payment']*0.30
    data['30% of Down Payment'] = data['Down Payment']*0.30  
    data['Rent 1'] = 5000
    data['Rent 2'] = 6000
    data['Rent 3'] = 7000
    data['25% Payment - R1'] = (data['Monthly Payment'] - data['Rent 1'])*0.25
    data['30% Payment - R1'] = (data['Monthly Payment'] - data['Rent 1'])*0.3
    data['25% Payment - R2'] = (data['Monthly Payment'] - data['Rent 2'])*0.25
    data['30% Payment - R2'] = (data['Monthly Payment'] - data['Rent 2'])*0.3
    data['25% Payment - R3'] = (data['Monthly Payment'] - data['Rent 3'])*0.25
    data['30% Payment - R3'] = (data['Monthly Payment'] - data['Rent 3'])*0.3
    df.append(data)
df = pd.concat(df).reset_index(drop = True)
df_nodupe = df.drop_duplicates().reset_index(drop = True)

In [31]:
df_nodupe['Down Payment: Percent of Total Offer'] = (df_nodupe['Down Payment'])/df_nodupe['Offer']

In [32]:
# df_nodupe = df_nodupe[['Offer', 'Total Cost of Loan', 'Down Payment', 'Principle', 'Rate', 'Down Payment: Percent of Total Offer', 'Monthly Payment', 
#                        '40% Total Cost of Loan', '50% Total Cost of Loan', '40% of Total Monthly Payment', '50% of Total Monthly Payment', 
#                        '40% of Down Payment', '50% of Down Payment', 'Rent 1', 'Rent 2', 'Rent 3', '40% Payment - 40% Rent 1', '50% Payment - 50% Rent 1', 
#                        '40% Payment - 40% Rent 2', '50% Payment - 50% Rent 2', '40% Payment - 40% Rent 3', '50% Payment - 50 % Rent 3'
#                       ]]

In [34]:
df_nodupe = df_nodupe[['Offer', 'Total Cost of Loan', 'Down Payment', 'Principle', 'Rate', 'Down Payment: Percent of Total Offer', 'Monthly Payment', 
                       '25% Total Cost of Loan', '30% Total Cost of Loan', '25% of Total Monthly Payment', '30% of Total Monthly Payment', 
                       '25% of Down Payment', '30% of Down Payment', 'Rent 1', 'Rent 2', 'Rent 3', '25% Payment - R1', '30% Payment - R1', 
                       '25% Payment - R2', '30% Payment - R2', '25% Payment - R3', '30% Payment - R3'
                      ]]

In [35]:
df_nodupe.to_csv('payment scenarios3.csv', index = False)